body{
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}
nav{
  overflow: hidden;
  background:00DDDD;
  line-height: 30px;
}
nav a{
  float: left;
  display: block;
  width: 100px;
  text-align: right;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
nav a:hover{
  background:00DDDD;
  color: rgb(2, 2, 2);
}
nav .active{
  background: #601b75;
}
.myimg{
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
}
